.container {
  padding: 4rem;
  width: 40rem;
  margin: 0 auto;
    
}

  h2{
    margin-right: 50%;
    
    color: orange;
  }

  .dets{
    margin-bottom: 3rem;
  }
  
  .capture_details {
    border-bottom: 0.1rem solid rgba(128, 128, 128, 0.418);
    margin-right: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .inp{
      width: 100%;
      margin-bottom: 1rem;
  }
  
  .btn {
    width: 100%;
    font-weight: 400;
    cursor: pointer;
    margin-top: 0.5rem;
  }

  .btn:hover{
    background-color: #FFB2A6;
    transition: 0.7sn;
  }

  p{
    margin-block-start: 1rem;
  }

  .card {
    padding: 2rem;
    width: 100%;
    background:rgb(240, 240, 240);
  }
  
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

.mat-form-field{
  width: 100%;
}