<div class="container">
  <div class="ui card">
    <div class="dets">       
         <span class="log"><h2>Login</h2></span>          
         <span class="example-spacer">Please Input your credentials </span>    
     </div>
     
     <form [formGroup]="logForm" (ngSubmit)="login()">
        <div class="capture-details">
          <mat-form-field appearance="outline">
            <mat-label>Employee email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email">
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        
        <div class="capture-details">
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  type="password" matInput  placeholder="Password" name="password" formControlName="password">
         </mat-form-field>
        </div> 
        
        <button 
        mat-flat-button
        color="accent"
        [disabled]="!login"
        class="btn">Login</button>
      
    </form>
    <p>Are you new? <a routerLink="/registration">Sign up here</a></p>
</div>
</div>